@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

/* heder section */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9;
    width: 100%;
    overflow: hidden;
}

nav {
    width: 90%;
    height: 55px;
    background-color: #172d54;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0;
    border-radius: 0 0 30px 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 20px;
    gap: 35px;
    padding: 0 40px;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 5%;
    position: absolute;
    left: 90px;
    top: 2px;
}

@media (max-width: 900px) {
    header {
        z-index: 999;
    }

    nav {
        position: fixed;
        inset: auto 0 0 0;
        border-bottom: 20px solid black;
        width: min(500px, 100%);
        --w-h-item: 60px;
        --position-x-active: 170px;
        z-index: 999;
        overflow: visible;
        width: auto;
        height: auto;
        background-color: transparent;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0;
        border-radius: 0;
    }

    .hide-on-mobile {
        display: none;
    }

    .logo img {
        display: none;
    }

    nav ul {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(5, var(--w-h-item));
        grid-template-rows: var(--w-h-item);
        justify-content: space-between;
    }

    nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: .5s;
        color: rgb(235, 42, 42);
    }

    nav ul li i {
        overflow: hidden;
    }

    nav ul li a {
        position: absolute;
        bottom: 0;
        font-size: 12px;
        font-weight: bold;
    }

    nav ul li.active {
        transform: translateY(-10px);
    }

    nav .effect {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: calc(var(--w-h-item) + 10px);
        z-index: -1;
        overflow: hidden;
    }

    nav .effect::before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: var(--w-h-item);
        width: calc(var(--position-x-active) - 10px);
        background-color: rgb(0, 0, 0);
        content: "";
        border-top-right-radius: 30px;
        transition: .5s;
    }

    nav .effect::after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        height: var(--w-h-item);
        width: calc(100% - var(--position-x-active) - var(--w-h-item) - 10px);
        background-color: rgb(0, 0, 0);
        border-top-left-radius: 30px;
        transition: .5s;
    }

    nav .effect .circle {
        position: absolute;
        width: var(--w-h-item);
        height: var(--w-h-item);
        background-color: black;
        left: var(--position-x-active);
        border-radius: 50%;
        box-shadow: 0 20px 20px gray;
        transition: .5s;
    }

    nav .effect .circle::before {
        position: absolute;
        left: -10px;
        right: -10px;
        content: '';
        height: 100%;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 0 50px 0 30px black;
        bottom: -10px;
        transition: .5s;
    }
}

@media only screen and (max-width: 812px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hide-on-mobile {
        display: flex;
        overflow: visible;
    }
}

/* header slider */
.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #000000;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
    font-size: 46px;
    font-weight: bold;
}

.slider .list .item .type {
    color: #000;
}

.description {
    font-size: 14px;
    color: white;
    z-index: 9;
}

.slider .list .item .button .button {
    margin-top: 20px;
}

.slider .list .item .button button {
    border: none;
    background-color: #969bdb;
    padding: 7px 15px;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 4px;
    transition: 0.4s;
}

.slider .list .item .button button:hover {
    background-color: #7379d5;
    color: white;
}

.slider .list .item .button button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

.thumbnail {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.nextPrevArrows {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 9;
}

.nextPrevArrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #969BDB;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.nextPrevArrows button:hover {
    background-color: #7075B7;
    color: black;
}

.item:nth-child(1) {
    z-index: 1;
}

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.4s;
}

.slider .list .item:nth-child(1) .content .type {
    animation-delay: 0.6s;
}

.slider .list .item:nth-child(1) .content .description {
    animation-delay: 0.8s;
    padding: 10px 0 25px;
}

.slider .list .item:nth-child(1) .content .buttons {
    animation-delay: 1s;
}


/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img {
    z-index: 100;
}


@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .slider .list .item .content {
        padding-right: 0;
        top: 70px;
        overflow: hidden;
    }

    .slider .list .item .content .title {
        font-size: 38px;
    }

    .slider .list .item .content .type {
        font-size: 38px;
    }

    .description {
        font-size: 13px;
        color: #000;
    }
}

/* making about section */
.gif img {
    position: absolute;
    z-index: -1;
    width: 32%;
    left: 65%;
}

.about-container {
    width: 95%;
    padding: 75px 50px 170px;
    background: linear-gradient(#bfc3f4, #767895);
    clip-path: polygon(168.72% -0.12%, 0% 0%, -0.78% 99%);
}

.about-content span {
    display: block;
    padding: 30px 0;
    width: 50%;
}

.about-content2 {
    display: block;
    width: 50%;
    position: relative;
    left: 50%;
    bottom: 120px;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 70px;
}

.vision-content {
    padding: 20px 0 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.objective-content {
    padding: 5px 0 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.objective h1 {
    padding: 0 0 15px;
}

.goal h1 {
    padding: 0 0 15px;
}

.goal-content {
    padding: 5px 0 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 900px) {
    .about-content {
        position: relative;
        right: 25px;
    }

    .about-head {
        position: relative;
        right: 25px;
    }

    .about-content span {
        width: 88%;
    }

    .about-content2 {
        width: 90%;
        left: 6%;
        bottom: 165px;
    }

    .list-container {
        padding: 0 18px;
    }

    .list-container i {
        overflow: visible;
    }

    .vision-content {
        gap: 15px;
    }

    .gif {
        padding: 40px 0;
    }

    .gif img {
        width: 50%;
        left: 0;
        transform: translateY(-95%);
    }
}

/* making 3d image rotate academic section */
.d3-head {
    padding: 60px 70px;
}

.d3-banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.d3-banner .d3-slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(-16deg) rotateY(var(--rotation));
    transition: transform 0.5s ease;
    overflow: visible;
}

.d3-banner .d3-slider .d3-item {
    position: absolute;
    inset: 0;
    width: 200px;
    height: 200px;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    overflow: hidden;
}

.d3-banner .d3-slider .d3-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d3-button-wrapper {
    position: relative;
    bottom: 460px;
}

.d3-button-wrapper button {
    position: relative;
    left: 15%;
    background-color: #969bdb;
    border: none;
    border-radius: 50%;
    padding: 20px 25px;
    transition: .5s;
}

.d3-button-wrapper button:hover {
    background-color: #7075B7;
    color: black;
}

#d3-prev {
    position: relative;
    left: 12%;
}

#d3-next {
    position: relative;
    left: 75%;
}

@media (max-width: 900px) {
    .d3-head {
        padding: 45px 30px;
    }

    .d3-banner .d3-slider {
        width: 180px;
        height: 180px;
        left: calc(55% - 100px);
    }

    .d3-banner .d3-slider .d3-item {
        inset: 15px;
        width: 180px;
        height: 180px;
    }

    .d3-banner .d3-slider .d3-item img {
        width: 70%;
        height: 70%;
        box-shadow: 0px 0px 4px black;
    }

    #d3-next {
        left: 65%;
    }

    .d3-button-wrapper {
        bottom: 400px;
        right: 20px;
    }
}

/* making event section */
.event-slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.event-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * 6 / 3);
}

/* .event-slide {
width: 100%;
flex: 1 0 auto;
} */

.event-slide img {
    width: 100%;
}

.event-content {
    padding: 10px;
    text-align: center;
}

.event-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.event-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.event-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* making footer of website */
.footer {
    background-color: #a2a5ce;
    border-top-left-radius: 188px;
    margin: 80px 0 0;
    padding: 45px 0 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 20%;
    padding: 55px 25px;
}

.footer-col h4 {
    position: relative;
    left: 0;
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
    overflow: visible;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000;
    transition: all 0.5s ease;
    position: relative;
    left: 3px;
}

.footer-col .social-link a:hover {
    color: #24262b;
    background-color: #fff;
}


.copy-right {
    display: flex;
    justify-content: end;
    padding: 0 60px;
    position: relative;
    bottom: 85px;
}

.go-up {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.footer-color1 {
    height: 200px;
    width: 93%;
    display: block;
    background-color: black;
    border-radius: 200% 200% 0 0;
    position: relative;
    top: 110px;
    overflow: hidden;
}

.footer-color2 {
    height: 200px;
    width: 95%;
    display: block;
    background-color: #8f95df;
    border-radius: 200% 200% 0 0;
    position: relative;
    left: 35px;
    top: 7px;
}

.go-up-arrow {
    font-size: 50px;
    position: absolute;
    overflow: hidden;
    transform: translate(0, 247%);
    z-index: 1;
    background-color: #4f55a8;
    border-radius: 50%;
    padding: 3px 9px;
}

/* responsive */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        padding: 15px 50px 0;
    }

    .go-up {
        display: none;
    }

    .copy-right {
        padding: 0 10px;
        bottom: 0;
        text-align: center;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}