@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

:root {
    --color: white;
    --black-color: black;
    --primary-color: #2e3092;
    --down-nav-color: #060c2b;
}

/* heder section */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

nav {
    background-color: var(--primary-color);
    /* width: 100%; */
    z-index: 999;
    border-radius: 40px;
}

.link-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 6%;
    position: absolute;
    left: 1%;
}

nav ul {
    display: flex;
    align-self: center;
    justify-content: end;
    gap: 55px;
    padding: 20px 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

nav ul li a img {
    width: 30px;
}

.nav-container i {
    display: none;
}

/* bottom nav */
@media (max-width: 600px) {
    nav ul li {
        list-style: none;
        overflow: hidden;
    }

    .logo {
        width: 17%;
        position: relative;
        left: 5%;
    }

    .hide-on-mobile {
        display: none;
    }

    .nav-container {
        justify-content: start;
    }

    .responsive-nav {
        z-index: 999;
        position: absolute;
        bottom: 30px;
        overflow: hidden;
        font-size: 20px;
        right: 20px;
        display: block;
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: var(--primary-color);
        left: 0;
        border-radius: 0;
        box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
        overflow: hidden;
        right: 0;
        height: 9%;
        z-index: 999;
    }

    .logo img {
        display: none;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 6px;
        padding: 0;
    }

    nav :where(li, a) {
        position: relative;
    }

    nav ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        font-size: 20px;
        line-height: 1.4;
        width: 75px;
        height: 80px;
        /* transition: .3s; */
        gap: 0;
    }

    .nav-container i {
        display: block;
    }

    nav ul li a span {
        font-size: 10px;
        font-weight: bold;
        color: var(--color);
    }

    nav li::before,
    nav li::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 30px;
    }

    nav li.active::before {
        left: -20px;
        border-radius: 0 0 30px 0;
    }

    nav li.active::after {
        right: -20px;
        border-radius: 0 0 0 30px;
    }

    nav li.active::before,
    nav li.active::after {
        background-color: var(--primary-color);
        top: 1px;
    }

    nav li a::before,
    nav li a::after {
        content: '';
        position: absolute;
        background-color: var(--down-nav-color);
        z-index: -1;
        border-radius: 10px 10px 0 0;
        /* -webkit-transform: translateY(15px);
        transform: translateY(15px);
        -webkit-transition: transform 0.3s, border-radius .3s;
        transition: transform 0.3s, border-radius .3s; */
    }

    /* nav li.active a::before,
    nav li.active a::after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    } */

    nav li.active a::before {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: 100%;
        border-radius: 30px 30px 0 0;
    }

    nav li.active a::after {
        left: -3px;
        bottom: 0;
        width: 100px;
        height: 40px;
    }

    nav li.active a {
        color: white;
    }
}

/* full screen nav */
.nav-toggle {
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #111;
    cursor: pointer;
    z-index: 999;
    display: none;
}

.nav-toggle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 2px;
    background: #f5f5f5;
    transition: all 300ms ease-in-out;
}

.nav-toggle span:nth-child(1) {
    top: 30%;
}

.nav-toggle span:nth-child(3) {
    top: 70%;
}

body.activeNav .nav-toggle span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

body.activeNav .nav-toggle span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

body.activeNav .nav-toggle span:nth-child(2) {
    display: none;
}

.nav2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow: hidden;
    border-radius: 0 0 0 100%;
    transition: width 300ms ease-in-out 200ms,
        height 300ms ease-in-out 200ms,
        border-radius 300ms ease-in-out 0ms;
}

.nav-overlay {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #dcc140;
    border-radius: 0 0 0 100%;
    transition: width 300ms ease-in-out 230ms,
        height 300ms ease-in-out 230ms,
        border-radius 300ms ease-in-out 30ms;
}

body.activeNav .nav-overlay {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    transition: width 500ms ease-in-out,
        height 500ms ease-in-out,
        border-radius 300ms ease-in-out 300ms;
}

body.activeNav .nav2 {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    transition: width 500ms ease-in-out 30ms,
        height 500ms ease-in-out 30ms,
        border-radius 300ms ease-in-out 330ms;
}

.nav2 .links .link {
    position: relative;
    margin: 20px;
    font-size: 45px;
    text-align: center;
    left: -300%;
}

.nav2 .links .link a {
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #aaa;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}

body.activeNav .nav2 .links .link {
    left: 0;
}

body.activeNav .nav2 .links>div:nth-child(1) {
    transition: left 300ms ease-in-out 650ms;
}

body.activeNav .nav2 .links>div:nth-child(2) {
    transition: left 300ms ease-in-out 680ms;
}

body.activeNav .nav2 .links>div:nth-child(3) {
    transition: left 300ms ease-in-out 710ms;
}

body.activeNav .nav2 .links>div:nth-child(4) {
    transition: left 300ms ease-in-out 740ms;
}

body.activeNav .nav2 .links>div:nth-child(5) {
    transition: left 300ms ease-in-out 770ms;
}

@media (max-width: 600px) {
    .nav-toggle {
        display: block;
    }
}

/* header slider */
.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #000000;
    text-shadow: 0 5px 10px #0004;
    overflow: hidden;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
    font-size: 46px;
    font-weight: bold;
}

.slider .list .item .type {
    color: #000;
}

.description {
    font-size: 14px;
    color: white;
    z-index: 9;
}

.slider .list .item .button .button {
    margin-top: 20px;
}

.slider .list .item .button button {
    border: none;
    background-color: var(--primary-color);
    padding: 12px 25px;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 4px;
    transition: 0.4s;
    color: var(--color);
}

.slider .list .item .button button:hover {
    background-color: #404197;
    color: var(--color);
}

.slider .list .item .button button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

.thumbnail {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 90;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.nextPrevArrows {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 9;
}

.nextPrevArrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    color: var(--black-color);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
}

.nextPrevArrows button:hover {
    background-color: #7075B7;
    color: var(--black-color);
}

.item:nth-child(1) {
    z-index: 1;
}

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.4s;
}

.slider .list .item:nth-child(1) .content .type {
    animation-delay: 0.6s;
}

.slider .list .item:nth-child(1) .content .description {
    animation-delay: 0.8s;
    padding: 10px 0 25px;
}

.slider .list .item:nth-child(1) .content .buttons {
    animation-delay: 1s;
}


/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img {
    z-index: 100;
}


@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .slider .list .item .content {
        padding-right: 0;
        top: 70px;
        overflow: hidden;
    }

    .slider .list .item .content .title {
        font-size: 36px;
    }

    .slider .list .item .content .type {
        font-size: 36px;
    }

    .description {
        font-size: 13px;
        color: #000;
    }
}

/* ABOUT SECTION */

.about-container {
    padding: 70px 70px 0;
}

.about-head {
    padding: 0 0 30px;
}

.about-head::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 4%;
    height: 5px;
}

.about-content {
    display: grid;
    gap: 30px;
}

.bento-container {
    padding: 70px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.bento-title {
    color: var(--default-color);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin: 0 auto;
}

.bento-row-wrapper {
    display: grid;
    gap: 10px;
}

.bento-column-wrapper {
    display: grid;
    gap: 10px;
}

.bento-title h1 {
    font-size: 48px;
}

.bento-title span {
    font-size: 24px;
}

.bento-row {
    display: grid;
    gap: 10px;
    width: 580px;
    overflow: visible;
}

.small-bento-img {
    width: 285px;
    height: 285px;
    overflow: hidden;
}

.small-bento-img img {
    width: 285px;
    height: 285px;
    object-fit: cover;
    border-radius: 20px;
}

.small-bento-img-wrapper {
    width: 600px;
    display: flex;
    gap: 10px;
    overflow: visible;
}

.bento-column {
    display: flex;
    gap: 10px;
    width: 580px;
    flex-direction: column-reverse;
}

.big-bento-img {
    width: 580px;
    height: 580px;
    overflow: hidden;
}

.big-bento-img img {
    width: 580px;
    height: 580px;
    object-fit: cover;
    border-radius: 20px;
}

.vision-container {
    padding: 70px 70px;
}

.vision-head::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 4%;
    height: 5px;
}

.vision-content {
    padding: 30px 0 10px;
}

.vision-content ul li {
    display: flex;
    align-items: center;
}

.academic-container {
    padding: 70px 70px;
    overflow: hidden;
}

.academic-head::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 4%;
    height: 5px;
}

.academic-box {
    display: flex;
    gap: 20px;
    padding: 50px 0;
}

.academic-card {
    flex: 0 0 calc(100% / 3);
    box-shadow: 1px 2px 7px -2px black;
    width: auto;
}

.academic-card img {
    width: 100%;
}

.academic-title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.slider-button-container {
    display: flex;
    gap: 20px;
}

.slider-button {
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: flex;
}

/* FOOTER */

.footer {
    background-color: var(--down-nav-color);
    padding: 70px 0 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.footer ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: end
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    position: relative;
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500;
    overflow: visible;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 8px;
}

.footer-logo {
    position: absolute;
    left: 5%;
}

.footer-logo img {
    width: 35%;
}

.goup {
    display: flex;
    justify-content: center;
    padding: 70px 0 0;
    z-index: 9;
    position: relative;
    align-items: center;
}

.goup span {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 2px 4px;
}

.credit {
    color: var(--color);
    padding: 35px 35px;
}

.credit a {
    text-decoration: none;
    color: var(--color);
}

/* Time Line */

.design-section {
    /* background-color: #1f1f1f; */
    padding: 30px 70px;
}

.timeline-head::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 4%;
    background-color: var(--primary-color);
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0;
}

.timeline-content {
    padding: 20px;
    background: var(--down-nav-color);
    box-shadow: 2px 0px 0px #1a1a1a, 0px 0px 13px #242424;
    border-radius: 5px;
    color: var(--color);
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        width: 3px;
        height: 100%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

/* Facilitie Section */

.facilitie-container {
    padding: 70px 70px;
}

.facilitie-head::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 4%;
    height: 5px;
}

.facilitie-nav ul {
    display: flex;
    gap: 25px;
    padding: 50px 0;
    justify-content: center;
}

.facilitie-nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 18px;
    position: relative;
}

.facilitie-nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.facilitie-nav ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


/* Facilitie Section */

.gallery-container {
    padding: 70px 70px;
}

.gallery-head::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 4%;
    height: 5px;
}

.gallery-nav ul {
    display: flex;
    gap: 25px;
    padding: 50px 0;
    justify-content: center;
}

.gallery-nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 18px;
    position: relative;
}

.gallery-nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.gallery-nav ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Contact section */
.contact-container {
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-head h1 {
    font-size: 28px;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.contact-container form input,
textarea {
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #F8F8F8;
    border: 1px solid #e3dfdf;
    font-weight: 500;
}

.btn-submit{
    width: 12%;
    padding: 12px 0;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--color);
    border-radius: 5px;
}

/* RESPONSIVE FOR MOBILE */

@media (max-width: 700px) {
    .about-container {
        padding: 70px 35px 0;
    }

    .about-head::after {
        width: 15%;
    }

    .small-bento-img {
        width: 300px;
        height: 200px;
    }

    .big-bento-img {
        height: 480px;
    }

    .vision-container {
        padding: 35px 35px;
    }

    .vision-head::after {
        width: 20%;
    }

    .academic-container {
        padding: 70px 35px;
    }

    .academic-head::after {
        width: 15%;
    }

    .footer-logo {
        position: relative;
        padding: 0 0 35px;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 20px;
    }

    .footer-col {
        width: 100%;
    }

    .facilitie-container {
        padding: 35px 35px;
    }

    .facilitie-nav ul {
        flex-wrap: wrap;
    }

    .gallery-container {
        padding: 35px 35px;
    }

    .gallery-nav ul {
        flex-wrap: wrap;
    }
}